{% extends 'base.html.twig' %}

{% block title %}LES AMIS DU MONDE || À propos de nous{% endblock %}

{% block body %}
	
	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="{{path('app_home')}}">Accueil</a></li>
			<li class="active">À propos de nous</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">À propos de nous</h1>
				</header>
				<h3>Présentation</h3>
				<p><img src="{{asset('images/photo.png')}}" alt="" class="img-rounded pull-right" width="300" >LES AMIS DU MONDE est une Ong qui soutient 357 orphelins, 105 veuves et 197 personnes démunies.</p>
				<p> Des enfants en détresse, des veuves et des orphelins en situation difficile ont bénéficié du soutien de l'Ong "Les Amis Du Monde"(LADM), une organisation internationale engagée aux côtés des personnes vulnérables.</p>
				<p>Ce sont à ce jour 357 orphelins, 105 veuves et 197 personnes démunies qui sont prises en charge par ladite structure. Dans un communiqué de presse, Djah Zidago Lazare, président de l'Ong, précise que son organistion aide ces personnes par le financement de leurs projets afin de les rendre autonomes.</p>
				<p>"Elle lutte contre le chômage, assite les prisonniers, et agit dans le domaine agricole en permettant à des agriculteurs du pays profonds de commercialiser leurs produits en jouant sur ses relations avec des partenaires à l'étranger. Cette organiisation est implantée dans sept(07) pays, notamment en Côte d'Ivoire, au Burkina Faso, au Sénégaal, en Guinée, au Maroc, en Tunisie, en RD Congo" lit-on dans le communiqué</p>
				<p> Le choix d'aide et d'assistance aux personnes vulnérables répond, selon le président Djah Lazare, à sa volonté d'apporter un secours au monde entier en général, et particulèrement à l'Afrique.</p>
				<p>"Nous avonns opté pour l'aide sociale parce que, comme on le constate, l'Afrique et le monde en général souffrent énormément aujourd'hui. Des besoins sont visible dans tous les domaines (santé, éducatiob, assistance juridique, social, etc)", justifie le président Djah Lazare.</p>
				
			</article>
			<!-- /Article -->
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="widget">
					<h4>Notre discours</h4>
					<ul class="list-unstyled list-spaces">
						<li><br><p>Ensemble, nous avons le pouvoir de transformer des vies et bâtir un monde meilleur.</p></li>
						<li><br><p>Rejoignez-nous dans cette noble cause et faites un don qui fera une réelle deférence.</p></li>
						<li><br><p>Votre contribution sera utilisée de manière responsable et transparente.</p></li>
						<li><br><p>Aidez-nous à allumer une flamme d'espoir dans le coeur des personnes vulnérables.Faites un don dès maintenant sur notre site web ou contactez-nous pour en savoir plus sur d'autres façons d'aider.</p></li>
						<li><br><p>Merci pour votre soutien et votre amour envers vos frères et soeurs du monde entier.<br>Ensemble, changeons le monde !</p></li>
					</ul>
				</div>

			</aside>
			<!-- /Sidebar -->
			<img src="{{asset('images/img2.jpg')}}" alt="" style="margin-top: 1rem;">	

		</div>
	</div>	<!-- /container -->
{% endblock %}
